@media (max-width: 767px) {

        .slogan1 {
            font-style: normal;
            font-weight: 700;
            font-size: 32px;
            line-height: 39px;
            display: flex;
            align-items: center;
            text-align: center;
    }

    .slogan2 {
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 22px;
            display: flex;
            align-items: center;
            text-align: center;
            padding-left: 16px;
            padding-right: 16px;
            padding-top: 33px;
    }

    .box__start {
            display: flex;
            justify-content: center;
    }

    .select__game {
        padding-left: 16px;
        padding-right: 16px;
    }









}