*{
    margin: 0;
    padding: 0;
    font-family: inherit;
    outline: none;
}

body {
    font-family: "Montserrat", sans-serif;
    background: #000915;
}

a {
    text-decoration: none;
}

.top {
    background-image: url(img/bg.jpg);
    background-repeat: no-repeat;
    background-position: start;
    background-size: cover;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.slogan1 {
    font-size: 64px;
    line-height: 78px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    padding-top: 217px;
    max-width: 720px;
}

.slogan2 {
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    max-width: 480px;
}

.box__start {
    padding-top: 44px;
    padding-bottom: 506px;
}

.start {
    width: 234px;
    height: 48px;
    left: 120px;
    top: 48px;
    background: #9C0332;
    border-radius: 30px;
    color: #FFFFFF;
}

.select__game {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding-top: 128px;
    padding-bottom: 128px;
}
.game__link {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
    padding: 32px;
    height: 300px;
    width: 379px;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-content: flex-end;
    flex-wrap: wrap;
}

.game__link1 {
    background-image: url(img/game1.jpg);
    border-radius: 18px;
}

.game__link2 {
    background-image: url(img/game2.jpg);
    border-radius: 18px;
}

.game__link3 {
    background-image: url(img/game3.jpg);
    border-radius: 18px;
}